<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{live-reload}}
  {{scripts}}
  {{styles}}
</head>
<body>
  <div id="sidebar" class="interface"></div>
  <div class="container"><div class="page">
    {{{yield}}}
  </div></div>
  <a href="http://github.com/walmartlabs/lumbar">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub">
  </a>
</body>
</html>
